<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevInternationalCollege"
        tools:targetApi="31">
        <activity
            android:name=".BCOMPackage.BCOMAllSubjectsActivity"
            android:exported="false" />
        <activity
            android:name=".BAPackage.BASEMFOURTHPDFViewActivity"
            android:exported="false" />
        <activity
            android:name=".BAPackage.BASemesterFourthActivity"
            android:exported="false" />
        <activity
            android:name=".BAPackage.BASEMTHIRDPDFViewActivity"
            android:exported="false" />
        <activity
            android:name=".BAPackage.BASemesterThirdActivity"
            android:exported="false" />
        <activity
            android:name=".BAPackage.BASEMSECONDPDFViewActivity"
            android:exported="false" />
        <activity
            android:name=".BAPackage.BASemesterSecondActivity"
            android:exported="false" />
        <activity
            android:name=".BAPackage.BASEMFIRSTPDFViewActivity"
            android:exported="false" />
        <activity
            android:name=".BAPackage.BASemesterFirstActivity"
            android:exported="false" />
        <activity
            android:name=".BAPackage.BASemesterActivity"
            android:exported="false" />
        <activity
            android:name=".BCACourse.DeleteDataActivity"
            android:exported="false" />
        <activity
            android:name=".BCACourse.InsertingDataActivity"
            android:exported="false" />
        <activity
            android:name=".BCACourse.StudentsDataActivity"
            android:exported="false" />
        <activity
            android:name=".BCACourse.bcaFinalPDFActivity"
            android:exported="false" />
        <activity
            android:name=".BCACourse.bcaFinalYearActivity"
            android:exported="false" />
        <activity
            android:name=".BCACourse.bcaSecondPDFActivity"
            android:exported="false" />
        <activity
            android:name=".BCACourse.bcaSecondYearActivity"
            android:exported="false" />
        <activity
            android:name=".BCACourse.bcaFirstPDFActivity"
            android:exported="false" />
        <activity
            android:name=".BCACourse.bcaFirstYearActivity"
            android:exported="false" />
        <activity
            android:name=".BCACourse.bcaYearActivity"
            android:exported="false" />
        <activity
            android:name=".StartingActivities.CoursesActivity"
            android:exported="false" />
        <activity
            android:name=".StartingActivities.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".StartingActivities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".StartingActivities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".StartingActivities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".StartingActivities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".StartingActivities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>